#container {
    max-width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
#loading {
    width: 400px;
    height: 50px;
    border: 2px solid brown;
    transition: 1s;
    position: relative;
}
#loading #color{
    width: attr(width);
    height: 50px;
    background-color: rgb(204, 63, 63);
    position: absolute;
}
.heart-left{
    width: 30px;
    height: 50px;
    position: absolute;
    transition: 5s;
    animation: forwards moveleft 10s;
    top: 80%;
    left: -10%;
}
.heart-right {
    width: 30px;
    height: 50px;
    position: absolute;
    transition: 5s;
    animation: forwards moveleft 10s;
    top: 80%;
    right: -10%;
    animation: forwards moveright 10s;
}
@keyframes moveleft {
    0% {
        top: attr(top);
        left: -10%;
    }
    100% {
        top: 45%;
        left: 50%;
    }

}
.heart-left::after , .heart-right::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(223, 48, 48);
    border-radius: 100%;
    rotate: 45deg;
    left: 65%;
}
.heart-left::before, .heart-right::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(223, 48, 48);
    border-radius: 100%;
    rotate: -45deg;
}

@keyframes moveright {
    0% {
        top: attr(top);
        right: -10%;
    }
    100% {
        top: 45%;
        right: 50%;
    }

}
#cont {
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: none;
}
canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: anim 1.5s ease-in-out infinite;
    -webkit-animation: anim 1.5s ease-in-out infinite;
    -o-animation: anim 1.5s ease-in-out infinite;
    -moz-animation: anim 1.5s ease-in-out infinite;
  }
